# Environment variables
# Virtual environment
venv/
venv312/
.venv/
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
*.swp
*.swo

static/
.downloads
.uploads
# Logs
logs/
logs/app.log